:root {
    --grass: #14A414;
    --poison: #B555FF;
    --water: #2980EF;
    --fire: #E62829;
    --flying: #81B9EF;
    --dragon: #5060E1;
    --fighting: #FF8000;
    --ice: #3DCEF3;
    --ghost: #704170;
    --psychic: #EF4179;
    --fairy: #EF70EF;
    --electric: #FAC000;
    --ground: #915121;
    --normal: #9FA19F;
    --bug: #91A119;
    --dark: #624D4E;
    --rock: #AFA981;
    --steel: #60A1B8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;

    background: #101010;
    color: #fff;
}

header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;

    margin-top: 80px;
}

header h1 {
    width: 500px;
    text-align: center;
}

main {
    width: 980px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;

    margin: 50px 0px;
}

.buttons {
    display: flex;
    gap: 30px;
}

.btn {
    padding: 3px 10px;

    border: 1px solid #000;
    border-radius: 10px;

    background: #000;

    cursor: pointer;
}

#container-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 280px;
    height: 400px;

    padding: 10px 0px;

    border: 1px solid #fff;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    gap: 20px;

    position: relative;
}

.index {
    position: absolute;
    left: 7px;
    top: 5px;
}

.name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.8rem;
}

.sprite {
    width: 220px;

    position: absolute;
    top: 0%;
}

.types {
    display: flex;
    gap: 30px;
}

.type {
    padding: 4px 15px;

    border-radius: 6px;

    text-transform: capitalize;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_characteristics {
    display: flex;
    gap: 40px;
}

.weight, .height {
    display: flex;
    flex-direction: column;
}

.weight_title, .height_title {
    font-weight: bold;
}

.weight_field, .height_field {
    font-size: .7rem;
    text-align: center;
}

.container-search {
    width: 100%;

    display: flex;
    justify-content: center;

    position: relative;
}

#search {
    width: 35rem;

    border: none;
    border-bottom: 1px solid #fff;

    background: transparent;

    padding: 1px 10px;
}

#search:focus {
    outline: none;
    caret-color: #fff;
}

.container-search #enter {
    width: 15px;

    cursor: pointer;
}

.container-search #filter {
    width: 30px;

    cursor: pointer;

    position: absolute;
    right: 15px;
    bottom: 0px;
}