* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;
}

main {
    width: 900px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;

    margin: 50px 0px;
}

.buttons {
    display: flex;
    gap: 30px;
}

.btn {
    padding: 5px;

    border: 1px solid #000;
    border-radius: 5px;

    color: #fff;
    background: #000;

    cursor: pointer;
}

#container-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 260px;

    padding: 10px 0px;

    border: 1px solid #000;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    position: relative;
}

.index {
    position: absolute;
    left: 7px;
    top: 5px;
}

.name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.8rem;
}

.sprite {
    width: 150px;
}

.types {
    display: flex;
    gap: 30px;
}

.type {
    width: 65px;
    height: 25px;

    border: 1px solid #000;
    border-radius: 6px;

    text-transform: capitalize;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_characteristics {
    display: flex;
    gap: 40px;
}

.weight, .height {
    display: flex;
    flex-direction: column;
}

.weight_title, .height_title {
    font-weight: bold;
}

.weight_field, .height_field {
    font-size: .7rem;
    text-align: center;
}